<section class="loc-map">
  <div class="loc-map__embed">
    <iframe
      title="Map of {{ include.loc.name }} {{ include.loc.postcode }}"
      width="100%"
      height="250"
      frameborder="0"
      style="border:0"
      src="https://maps.google.com/maps?q={{ include.loc.map_query | url_encode }}&output=embed&z=14"
      allowfullscreen
      loading="lazy">
    </iframe>
  </div>
  <div class="loc-map__highlights">
    <h3>Local Area Insights: {{ include.loc.name }}-{{ include.loc.postcode }}</h3>
    <ul>
      {% for highlight in include.loc.local_highlights %}
      <li>{{ highlight }}</li>
      {% endfor %}
    </ul>
  </div>
</section>
